@import "../_variables.css";

:root {
  --color-black-lighter: color(var(--color-black) alpha(25%));
}

.clean--professional--experience--item {
  margin-top: calc(var(--spacing)*1.5);
}

.clean--professional--experience--item--title {
  display: flex;
  align-items: center;
  line-height: 1;
}

.clean--professional--experience--item--title hr {
  background: var(--color-black-lighter);
  border: 0;
  margin: 0;
  padding: 0;
  height: 0.85rem;
  width: 1px;
  margin: 0 var(--spacing);
}

.clean--professional--experience--item--title h2 {
  color: var(--color-black-lighter);
  font-size: 0.85rem;
  font-weight: 600;
}

.clean--professional--experience--item--project {
  font-size: 0.85rem;
  font-weight: 600;
}

.clean--professional--experience--item--description {
  margin-top: calc(var(--spacing)/2);
  font-size: 0.85rem;
}