@import "../_variables.css";

.clean--professional--skills--content {
  margin-top: var(--spacing);
  display: flex;
  justify-content: space-around;
  font-size: 0.85rem;
}

.clean--professional--skills--bar {
  margin-left: var(--spacing);
}

.clean--professional--skills--bar--circle {
  width: 10px;
  height: 10px;
  margin-left: calc(var(--spacing)/4);
  background: color(var(--color-white) blackness(10%));
}

.clean--professional--skills--bar--circle__filled {
  background: var(--color-primary);
}