@import "../_variables.css";

.clean--about--contact {
  flex-grow: 1;
  box-sizing: border-box;
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: calc(var(--spacing)*4);
}

.clean--about--contact--items {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  margin-top: calc(var(--spacing)*2);
}

.clean--about--contact--item {
  display: flex;
  flex-grow: 1;
  flex-basis: 0;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.clean--about--contact--item--data {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: calc(var(--spacing)/2);
}

.clean--about--contact--item--data h1,
.clean--about--contact--item--data h2,
.clean--about--contact--item--data h3 {
  text-align: center;
  font-size: 0.85rem;
}

.clean--about--contact--item--data h1 {
  font-weight: 900;
  text-transform: uppercase;
}

.clean--about--contact--item--data h2 {
  font-weight: 900;
  margin-top: calc(var(--spacing)/4);
}

.clean--about--contact--item--data h3 {
  font-weight: 700;
  margin-top: calc(var(--spacing)/4);
}