@import "../_variables.css";

.clean--about--contact {
  flex-grow: 1;
  box-sizing: border-box;
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: calc(var(--spacing));
}

.clean--about--contact--items {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  margin-top: var(--spacing);
}

.clean--about--contact--item {
  display: flex;
  flex-grow: 1;
  flex-basis: 0;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.clean--about--contact--item--data {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: calc(var(--spacing) / 2);
  font-weight: 800;
}

.clean--about--contact--item {
  text-align: center;
  font-size: 0.85rem;
  line-height: 1;
}

.clean--about--contact--item--wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  color: inherit;
}

.clean--about--contact--item__address h1 {
  text-transform: uppercase;
  font-weight: 900;
}

.clean--about--contact--item__address h2 {
  font-weight: 500;
  margin-top: calc(var(--spacing) / 4);
}