@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700,900');
@import "./_variables";

.clean {
  width: 220mm;
  height: 297mm;
  background: var(--color-white);
  color: var(--color-black);
  display: flex;
  font-family: "Lato", sans-serif;
}