@import url('https://fonts.googleapis.com/css?family=Lato:400,700,900');
@import "./_variables";

:root {
  font-size: 14px;
}

.clean {
  position: relative;
  box-sizing: border-box;
  width: 210mm;
  height: 297mm;
  background: var(--color-white);
  color: var(--color-black);
  display: flex;
  font-family: "Lato", sans-serif;
  font-weight: 500;
  line-height: 1.5;
}

.clean--top-slice {
  position: absolute;
  top: 0;
  right: 0;
  fill: var(--color-primary);
}

.clean--bottom-slice {
  position: absolute;
  right: 0;
  bottom: 0;
  fill: var(--color-primary);
}

.clean--footer {
  position: absolute;
  bottom: 0;
  text-align: center;
  width: 100%;
  margin-bottom: calc(var(--spacing)/4);
}

.clean--footer--heart {
  color: red;
}