@import "./_variables.css";

.icon {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2px;
  width: 48px;
  height: 48px;
}

.icon--image {
  width: 76%;
  height: 76%;
}

.icon.background-dark {
  background: var(--color-black);
}

.icon.background-dark .icon--image {
  stroke: var(--color-primary);
  color: var(--color-primary);
}

.icon.background-light {
  background: var(--color-primary);
}

.icon.background-light .icon--image {
  stroke: var(--color-black);
  color: var(--color-black);
}